spawn-at-startup "dunst"
spawn-at-startup "walker" "--gapplication-service"
spawn-at-startup "xwayland-satellite"

prefer-no-csd

input {
  keyboard {
    xkb {
      layout "us"
      variant "colemak"
    }
  }
  touchpad {
    tap
    natural-scroll
    accel-profile "flat"
  }
  mouse {
    accel-profile "flat"
    accel-speed -0.4
  }
  mod-key "Super"
}

binds {
  Mod+1 { focus-workspace "browser"; }
  Mod+Shift+1 { move-column-to-workspace "browser"; }
  Mod+2 { focus-workspace "gaming"; }
  Mod+Shift+2 { move-column-to-workspace "gaming"; }
  Mod+3 { focus-workspace 3; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+N { focus-column-left; }
  Mod+E { focus-window-or-workspace-down; }
  Mod+U { focus-window-or-workspace-up; }
  Mod+I { focus-column-right; }

  Mod+F { maximize-column; }
  Mod+F11 { fullscreen-window; }
  Mod+c { center-column; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Plus { set-column-width "+10%"; }

  Mod+V { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  Mod+Slash { spawn "walker"; }
  
  Mod+Return { spawn "foot"; }
  Mod+G { spawn "firefox"; }

  Mod+D { close-window; }

  Print { screenshot ; }
  Shift+Print { screenshot-screen; }
  Ctrl+Print { screenshot-window; }

  XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
  XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "5%+"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }

  Mod+Shift+Escape { spawn "swaylock"; }

  Mod+Escape repeat=false { toggle-overview; }
}

cursor {
  xcursor-theme "Bibata-Modern-Classic"
  xcursor-size 24

  hide-when-typing
}

clipboard {
  disable-primary // disable middle-click paste
}

environment {
  DISPLAY ":0"
}

layout {
  gaps 12
  always-center-single-column
  default-column-display "tabbed"
  tab-indicator {
    hide-when-single-tab
    position "bottom"
    place-within-column
  }
  focus-ring {
    width 2
    active-gradient from="#f5e0dc" to="#f5c2e7" angle=45 // rosewater to pink
    urgent-color "#f38ba8" // red
  }
  border {
    //off
    width 2
    //active-color "#f5c2e7" // pink
    inactive-color "#1e1e2e" // base
    active-color "#1e1e2e" // base

  }
  shadow {
    on
  }
}

window-rule { // universal
  opacity 0.90
  geometry-corner-radius 10
  clip-to-geometry true
}
window-rule { // focused
  match is-focused=true
  opacity 0.95
}
window-rule { // being casted
  match is-window-cast-target=true
  border {
    inactive-gradient from="#b4befe" to="#eba0ac" angle=45 // lavender to maroon
    active-gradient from="#f38ba8" to="#cba6f7" angle=45 // red to mauve
  }
}

window-rule { // firefox
  match app-id="firefox"
 // open-maximized true
  open-on-workspace "browser"
  default-column-width {proportion 0.75;}
}
window-rule { // picture-in-picture firefox
    match app-id="firefox" title="^Picture-in-Picture$"
    open-floating true
}

window-rule { // steam
  match title="Steam"
  open-maximized true
  open-on-workspace "gaming"
}
workspace "browser"
workspace "gaming"
